@charset "UTF-8";

/* ===== ESTILOS GERAIS ===== */
body {
    overflow-x: hidden;
}

a {
    font-weight: bold;
}


/* ===== FONTES PERSONALIZADAS ===== */
@font-face {
    font-family: 'GravitasOne'; 
    src: url('fontes/GravitasOne-Regular.ttf') format('opentype'); 
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: 'GravitasOne2'; 
    src: url('fontes/GravitasOne-Regular.ttf') format('opentype'); 
    font-weight: bold; 
    font-style: normal;
}

.fonte-btn-NH {
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: bold;
}


/* ===== ESTILOS DA NAVBAR - PÁGINA INICIAL ===== */
.pagina-inicial .header-container {
    background-image: url('image/crianças.jpg');
    background-size: cover;
    background-position: center 70%;
}

.pagina-inicial .header-projeto {
    background-color: rgba(0,0,0,0.5);
    height: 350px;
    position: relative;
    color: white;
}

.pagina-inicial .header-projeto .overlay {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 140px; 
}

.pagina-inicial .header-projeto h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: #fcfafa;
    background-color: transparent; 
}

.pagina-inicial .header-projeto p {
    font-size: 1.2rem;
    color:#faf9f9;
}

.pagina-inicial #barra-principal {
    background-color: rgba(0, 0, 0, 0.5);
    color: white; 
    padding-left: 50px; 
    padding-right: 50px; 
}

.pagina-inicial #barra-principal .nav-link,
.pagina-inicial #barra-principal .navbar-brand {
    color: #ffde59 !important; 
    font-size: 20px;
}

.pagina-inicial .logobarra{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin: 15px;
}

.pagina-inicial .navbar-brand {
    margin: 5px;
}

.pagina-inicial .form-control {
    border: 3px solid #ffde59;
}

.pagina-inicial .btn-light {
    background-color: #ffde59;
    color: black; 
    border: 1px solid #ffbe59; 
}


/* ===== SEÇÕES DO VÍDEO DO YOUTUBE ===== */
.chamada-container {
    padding: 2% 2%;
}

.video-chamada {
    display: flex;
    align-items: center;
    gap: 10%;
}

.video-titulo h2 {
    width: 70%;
}

.chamada-container h1 {
    text-align: center;
    margin: 2%;
    font-family: 'GravitaOne';
    font-weight: bolder;
    font-style: oblique;
}

.chamada-container iframe {
    border-radius: 5%;
    margin: 1%;
}

.btn {
    margin: 5%;
}

.btn-group {
    width: 70%;
}


/* ===== ESTILOS ÍCONES RODAPÉ - PÁGINA NOSSA HISTÓRIA ===== */

.icone-casa {
    color: #4682B4; 
}

.icone-email {
    color: #f9f23a;
}

.icone-telefone {
    color: #25D366; 
}